.GlassMorphic {
  background: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%);
}

.GlassMorphic .headerName {
  color: black;
}

@keyframes glassMorphicCardLoad {
  0% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0.05px);
  }
}

.GlassMorphic .NavCard {
  animation-name: glassMorphicCardLoad;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  border-radius: 2em;
  background: rgba( 255, 255, 255, 0.30 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.0px );
  -webkit-backdrop-filter: blur( 8.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  filter: blur(4px);
}

.GlassMorphic .NavCard span {
  color: #1B1464;
}

.GlassMorphic #ResumeNavCard {
  animation-duration: 300ms;
}

.GlassMorphic #ProgrammingNavCard {
  animation-duration: 500ms;
}

.GlassMorphic #HobbyNavCard {
  animation-duration: 700ms;
}

.GlassMorphic .navCardContent {
  display: flex;
  flex-direction: column;
}

.GlassMorphic .navCardHeader {
  font-weight: bold;
}
.GlassMorphic .navCardText {
  font-weight: lighter;
}

.GlassMorphic .navLinkContainer {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.GlassMorphic .navLink {
  font-size: 1em;
  flex: 1;
  text-align: center;
  padding: 30px;
  border-radius: 40px;
  font-weight: bold;
  transition: transform 300ms ease-in-out;
  background: rgba( 255, 255, 255, 0.30 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.0px );
  -webkit-backdrop-filter: blur( 8.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.GlassMorphic .navLink:hover {
  transform: scale(1.02, 1.02);
}

.GlassMorphic .navLink:active {
  box-shadow: inset 9.91px 9.91px 15px #bfc7d9,
    inset -9.91px -9.91px 15px #e5efff, 9.91px 9.91px 15px #bfc7d9,
    -9.91px -9.91px 15px #e5efff;
}

.GlassMorphic .navLink {
  color: #1B1464;
}
