.piececontent{
	background-color:transparent;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:75px;
}

.piecebot{
	text-align:left;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
}

.piecetext{
	width:500px;
	float:left;
	background-color:white;
	padding:20px;
}

.piecetext h1{
	font-size:21px;
}
.piecetext p{
	font-size:13px;
}

.piecelinks{
	text-align:center;
	padding:15px 61px;
	float:right;
	display:inline-block;
	margin-left:20px;
}

.piecelinks a{
	color:white;
	padding:5px 10px;
	background-color:#2980b9;
	display:block;
	margin-bottom:11px;
}

#axsourcecontent img{
	background-color:transparent;
	width:749px;
	height:auto;
}
#axsourcetext {
	width:513px;
}
#codecodecontent img{
	width:742px;
	height:auto;
}
#tkdokutext{
	width:566px;
}

@media (max-width:750px){
	.piececontent{
		width:100%;
	}
	.piececontent img{
		max-width:500px;
		height:auto;
	}
	.piecebot{
		text-align:center;
	}
	.piecetext{
		float:none;
		text-align:left;
		width:462px;
	}
	.piecelinks{
		float:none;
	}
	.piecelinks a{
		float:left;
		margin:0 20px;
	}
}

@media (max-device-width:565px){
	.piececontent{
		width:100%;
	}
	.piececontent img{
		max-width:600px;
		height:auto;
	}
	.piecebot{
		text-align:center;
		display:block;
	}
	.piecetext{
		margin-left:auto;
		margin-right:auto;
		float:none;
		text-align:left;
		width:550px;
		display:block;
	}
	.piecetext h1{
		font-size:40px;
	}
	.piecetext p{
		font-size:20px;
	}
	.piecelinks{
		float:none;
	}
	.piecelinks a{
		float:left;
		margin:0 20px;
		font-size:36px;
	}
}